NET DUART_CS LOC=P5;
NET DUART_INT LOC=P6;
NET DUART_DTACK LOC=P7;
NET DUART_RESET LOC=P10;
NET DUART_IACK LOC=P11;

NET CLK_IN LOC=P32;

NET SUP_RESET LOC=P1;

NET CPU_CLK LOC=P9;
NET CPU_HALT LOC=P41;
NET CPU_RESET LOC=P46;

NET RAML_CS LOC=P12;
NET RAMH_CS LOC=P13;
NET ROML_CS LOC=P19;
NET ROMH_CS LOC=P18;

NET MEM_OE LOC=P20;

NET CPU_AS LOC=P17;
NET CPU_RW LOC=P21;
NET CPU_UDS LOC=P14;
NET CPU_LDS LOC=P15;
NET CPU_DTACK LOC=P44;
NET CPU_BERR LOC=P31;

NET CPU_BR LOC=P43;
NET CPU_BGACK LOC=P45;

NET CPU_VPA LOC=P47;

NET ADDR<0> LOC=P26;
NET ADDR<1> LOC=P24;
NET ADDR<2> LOC=P25;
NET ADDR<3> LOC=P23;

NET CPU_FC<0> LOC=P34;
NET CPU_FC<1> LOC=P36;
NET CPU_FC<2> LOC=P33;

NET CPU_IPL<0> LOC=P35;
NET CPU_IPL<1> LOC=P37;
NET CPU_IPL<2> LOC=P39;


NET FC_LED<0> LOC=P52;
NET FC_LED<1> LOC=P51;
NET FC_LED<2> LOC=P53;

NET LED_G<0> LOC=P70;
NET LED_G<1> LOC=P69;
NET LED_G<2> LOC=P68;
NET LED_G<3> LOC=P67;

NET LED_B<0> LOC=P66;
NET LED_B<1> LOC=P65;
NET LED_B<2> LOC=P63;
NET LED_B<3> LOC=P62;

NET DIP_SW<0> LOC=P81;
NET DIP_SW<1> LOC=P82;
NET DIP_SW<2> LOC=P79;
NET DIP_SW<3> LOC=P80;

NET SW_RESET LOC=P83;
NET SW_UTIL LOC=P84;
